@media (max-width:768px){


    .barbar,.genre{
        display: none;
    }
    .black{
        width: 0;
        height: 0;
    }
    .flex{
        height: 55vmin;
        margin-bottom: 2vh;
    }
    .poster{
        width: 100vw;  
        height: 55vmin;
        /* transform: translateY(-25%); */
    }
    @keyframes animation {
        0%   {transform: translateX(0vw);}
        20%   {transform: translateX(0vw);}
        22%  {transform: translateX(-100vw);}
        42%  {transform: translateX(-100vw);}
        44%  {transform: translateX(-200vw);}
        64%  {transform: translateX(-200vw);}
        66% {transform: translateX(-300vw);}
        86% {transform: translateX(-300vw);}
        88% {transform: translateX(-400vw);}
        100% {transform: translateX(-400vw);}
      }
    
      .posterimg{
        width: 100vw;
        height: 60vmin;
    }
.mininav{
    padding:0 3vw;
}

.verticalposter1,.verticalposter2,.verticalposter3,.verticalposter4{
    padding-left: 2vw;
}
.top{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0 0vmax;
    align-items: center;
    /* transform: translateY(-3%); */
    /* background-color: #004d8b; */
}

.topleft{
    height: 30vmax;
    width: 100%;
    overflow: hidden;
    background-color: black;
}
.topright{
    width: 100%;
    padding:1vmax  2vmax;
    display: flex;
    flex-direction: column;
    /* background-color: aliceblue; */
}
.righttop{
    margin: 0 0vmax;
    display: flex;
    align-items: flex-start;
    /* background-color: aquamarine; */
}
.rightbottom{
margin: 0.8vmax 0vmax;
/* background-color: brown; */
}
.posterimgvp3{
    width: 30vw;
    height: 20vmax;
    border-radius: 8px;
    /* margin: 0 0.2vmax; */
    /* z-index: 22; */
    
}

.block1,.block2,.block3{
    width: 100vw;
    overflow-x: scroll;
   
}
.page3{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
transform: translateX(100%);
z-index: 150;
background-color: var(--dark-color);
transition: 0.3s  ease-in-out;
}

.postertxt{
    width: 15vmax;
    height: 20vmax;
    background-color: var(--dark-color);
    /* width: 0vmax; */
    display: none ;
    /* transform:translateX(-100%); */

}
.posterimgv{
    width: 16vmax;
    height: 23vmax;
    /* z-index: 22; */
    border-radius: 8px;
    
}



    /* end */
}
